*, *::before, *::after{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    appearance: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
:root{
    --primary-color:grey;
    --secondary-color:black;
    --text-color:white;
}
body{
    background: linear-gradient(to top, #000000, #292929);
    margin: 0;
    height: 100vh;
}
#header{
background-color: var(--secondary-color);
height: 100px;
}
.LogIn-Image{
    width: 150px;
    height: auto;
}
#header img {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-left: 20px;
}
/*  Ab hier geht es weiter mit dem Stylen des Log Ins */
.login-box {
    background-color: black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: block;
    justify-content: center;
    width: 750px;
    height: 750px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 70px;
    transform: translate(-50%, -50%);
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
    color: var(--text-color);
    font-size: 3rem;
}

.login-box input {
    width: 60%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #525151;
    border-radius: 4px;
    background: #292929;
}
.login-box h4{
    color: var(--text-color);
    display: flex;
    align-items: center;
    padding-left: 150px;
    padding-bottom: 12px;
    font-size: 1rem;
}

.login-box button {
    width: 60%;
    padding: 10px;
    background-color: #4caf50;
    color:black;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    
}

.login-box button:hover {
    background-color: #45a049;
}

.login-box .social-buttons {
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    text-transform: none;
    letter-spacing: normal;
    margin: auto;
}

.login-box .social-buttons a {
    width: 60%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: 1px solid white;
    border-radius: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center; 
    align-items: center;
    text-decoration: none;
}

.login-box .social-buttons a:nth-child(2) {
    background-color: var(--secondary-color); /* Google */
}

.login-box .social-buttons a:nth-child(3) {
    background-color: var(--secondary-color); /* Apple */
}

.login-box .social-buttons a:hover {
    opacity: 0.8;
}
/*  Hier bearbeite ich die Icons Seperat */
span {
    display: flex;
    justify-content: center;
    position:absolute;
    align-items: center;
    text-align: center;
    padding-top: 1px;
    padding-right: 350px;
}
/*  Hier Geht es um das Sytlen des Benutzername speichern Button */
#switch-container {
    position: relative;
    display: flex;
    margin-left: 150px;
}

#switch {
    width: 60px;
    height: 30px;
    background-color: #ddd;
    border-radius: 20px;
    position: absolute;
    transition: background-color 0.5s;
    display: flex;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
}
#circle {
    width: 20px;
    height: 20px;
    background-color: gray;
    border-radius: 50%;
    transition: transform 0.5s ease-in-out;
}

#switch-container h3{
    color: var(--text-color);
    padding-left: 70px;
    padding-top: 3px;
}

/*  Hier ist nochmal seperat der Button für das Anmelden */
.Submit{
    margin-top: 30px;
}

/*  Hier Ist ein Kleiner Abnschitt für den Style für den Button Passwort vergessen  */
.Passwort_V{
    padding-top:30px;
}

.Passwort_V a{
    color: var(--text-color);
    text-decoration: underline;
}
.Passwort_V a:hover {
    color: #4caf50;
}